table {
    border-collapse: collapse;
    font-size: 9.9pt;
    width: 50%;
    padding: 10px;
}
table th {
    text-align: center;
    padding: 10px;
    background: blue;
    color: white;
}
table td {
    padding: 10px;
}
table tr:nth-child(odd) {
    background: gray;
}
.ntn_agregar {
    border: all;
    padding: 30px;
    text-align: left;
}
.tablareporte {
    border-collapse: collapse;
    padding: 20px;
}

img{
    width: 50px;
}
#btn-adAdmin{
    padding: 10px;
    margin-left: 10px;
    margin-block-start: 25px;
    margin-block-end: 10px;
    position: relative;

}
.btn-ver{
    background: transparent;
    color: #3F51B5;
    float: right;

}

.btn-guardar{
    padding:10px;
    margin: auto;
    background: dodgerblue;
    float: right;
    margin-block-start: 25px;
    border-radius: 0.25rem;
    border-color: rgb(22, 122, 223);
    text-align: center;
    color:white;
    box-shadow: 5px 5px 10px rgba(7, 31, 245, 0.842) ;
}
.btn-guardar:hover{
    background-color: rgb(32, 185, 32);
    box-shadow: 5px 5px 10px rgba(16, 131, 1, 0.842) ;
    border-color: rgb(26, 168, 13);
}

.btn-cancelar{
    padding:10px;
    margin-left:80px;
    margin-block-start: 10px;
    border-radius: 10px;
    text-transform: none;
    display: inline-block;
    text-justify: center;
    color:white;

}

#btn-generar{
    padding: 3px;
    background: rgba(236, 106, 106, 0.842);
    float: rigth;
    margin-block-end:25px;
}

.iniciale{
    margin-block-start: 25px;
    padding: 6px;
}
.finale{
    margin-block-start: 25px;
    padding: 6px;
}

.paginador ul {
    padding: 15px;
    list-style: none;
    background: #FFF;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
}
.paginador li{
    margin-left: 3px;
}
.paginador a, .paginaseleccionada {
    color: white;
    border: 3px;
    background: #3F51B5;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 35px;
    border-radius: 15px;
    border-color: blue;
    box-shadow: 2px 2px 2px rgba(80, 131, 197, 0.8) ;

}
.paginador a:hover {
    background:dodgerblue;
}
.paginaseleccionada {
    color: #FFF;
    background: #428bca;
    border: 1px solid #428bca;
}
.paginador a:link{
    text-decoration: none;
}
.paginador a:hover{
    transform: scale(1.1,1.1);
}

.btn-habilitar {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: white;
    background-color: rgba(23, 167, 4,.8);
    border-color: rgba(23, 167, 4,.8);
}
.btn-habilitar:link{
    text-decoration: none;
}
.btn-habilitar:hover {
    color: #212529;
    background-color:rgba(20, 138, 4, 0.8);
    border-color: rgba(20, 138, 4,0.8);
}

.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 150px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background: url(../images/uploads/user.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPhoto label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.prevPhoto img{
	width: 100%;
	height: 100%;
}
.upimg, .notBlock{
	display: none !important;
}
.errorArchivo{
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
}
.delPhoto{
	color: #FFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}
#tbl_list_productos img{
	width: 50px;
}
.imgProductoDelete{
	width: 175px;
}
.selecto option:first-child{
    display: none;
}
